@font-face {
	font-family: "Poppins";
	src: url(../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
	font-family: "Allura";
	src: url(../font/Allura/Allura-Regular.ttf);
}
@font-face {
	font-family: "Roboto";
	src: url(../font/Roboto/Roboto-Light.ttf);
}

$font1: Allura, cursive;
$font2: Poppins, serif;
$font3: Roboto, serif;
$black:		#21201e;
$grey:		#b6b6b6;
$white:		#eeeeee;
$color1:	#a67245;

@mixin title {
	text-transform: uppercase;
	font-family: $font2;
}
@mixin title2 {
	color: $color1;
	font-family: $font1;
	font-weight: 230;
}
@mixin dish {
	height: 85px;
	width: 85px;
	border-radius: 50px;
}
@mixin childCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin alignChildren($space) {
	display: flex;
	align-items: center;
	justify-content: $space;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
li {
	list-style: none;
}
a, a:visited {
	color: $white;
}
body {
	background: $black;
	text-align: center;
	font-family: $font3;
}