footer {
	padding: 70px 40px;
	background-color: $blackd1;
	color: $grey;
	text-align: left;

	.footer-container {
		max-width: 1300px;
		margin: 0 auto;
	}
	.social-media {
		margin: 20px 2px;
		display: flex;
		justify-content: space-between;
		width: 20%;
		min-width: 230px;
		font-size: 1.5rem;

		span {
			border: 2px solid $blackd2;
			height: 44px;
			width: 44px;
			border-radius: 50px;
			font-size: 1.3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $blackd2;
			transition: 0.1s ease;

			&:hover {
				background: $color1;
			}
		}
	}
	.back-to-header {
		padding-left: 15px;
		
		a {
			transition: 0.2s;
			font-size: 1.4rem;

			&:hover {
				color: #d6821c;
			}
		}
	}
}
#top {
	position: absolute;
	top: 0;
}