.top-part {
	height: 50%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;

	#logo {
		margin: 30px 40px;
		height: 150px;
		width: 150px;
		border-radius: 150px;
	}
	nav {
		padding: 32px 0;
		display: flex;
		justify-content: space-around;
		width: 55vw;
		min-width: 600px;
		max-width: 1300px;
		margin: 0 auto;
		font-size: 1.2em;
		letter-spacing: 0.5px;
		
		a {
			color: $grey;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				background-color: $color1;
				height: 0;
				width: 0;
				left: 0;
				bottom: -5px;
				transition: 0.3s;
			}
			&:hover{
				color: $white;
			}
			&:hover:after {
				width: 100%;
				height: 2px;;
			}
		}
		@media screen and (max-width: 650px) {
			display: none;
		}
	}
}
#side-bar {
	padding-top: 30px;
	position: absolute;
	width: 230px;
	height: 100%;
	background: black;
	top: 0;
	left: -230px;
	transition: 0.5s ease-out;
	z-index: 4;

	a,
	a:visited,
	li {
		color: $grey;

		&:hover {
			color: $white;
		}
	}
	li {
		color: #292929;
		list-style: none;
		font-size: 1.2rem;
		cursor: pointer;
		text-align: left;
		padding: 5px 0 5px 40px;
		
	}
	li:hover {
		background: #292929;
		color: #fcfcfb;
	}
	.social-med {
		padding: 20px 0 20px 0;
		display: flex;
	}
}
#side-bar.active {
	left: 0;
	position: fixed;
}
.active .toggle {
	position: absolute;
}
.active .toggle:nth-child(1){
	transform: rotate(45deg);
}
.active .toggle:nth-child(2){
	opacity: 0;
}
.active .toggle:nth-child(3){
	transform: rotate(-45deg);
}
.active ~ .content {
	opacity: 0.3;
	transition: 0.2s ease;
}

.toggle-btn {
	position: absolute;
	top: 30px;
	left: 240px;
	cursor: pointer;
	height: 50px;
	width: 50px;

	&:hover .toggle{
		background-color: $white;
	}
	@media screen and (min-width: 650px) {
		display: none;
	}
}
.toggle-btn .toggle {
	width: 50px;
	height: 7px;
	border-radius: 5px;
	background: $grey;
	display: block;
	margin-top: 4px;
	transition: 0.3s ease;
}
.favicons {
	@include alignChildren(space-around);
	width: 30%;
	min-width: 300px;
	margin: 0 auto;
	padding: 32px 0;
	font-size: 1.7rem;

	a {
		color: $grey;

		&:hover {
			color: $white;
		}
	}

	@media screen and (max-width: 650px) {
		display: none;
	}
}
.switch-color {
	color: $grey;
	font-size: 1.5rem;
	
	&:hover {
		color: $white;
	}
}
.switch-text {
	font-size: 1.2rem;
	user-select: none;
}
.md-switch-color {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	font-size: 2rem;
	color: $grey;
	transition: 0.2s ease;

	&:hover {
		color: $white;
	}
	@media screen and (max-width: 650px) {
		display: none;
	}
}
.nav-scroll-up {
	position: fixed;
	top: -80px;
	height: 70px;
	width: 100%;
	background-color: $blackd1;
	z-index: 100;
	transition: 0.5s ease-out;

	@media screen and (max-width:650px) {
		display: none;
	}
	ul {
		height: 70px;
		margin: 0 auto;
		display: flex;
		width: 80%;
		justify-content: space-around;
		align-items: center;
	}
	a {
		font-size: 18px;
		color: $grey;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			background-color: $color1;
			height: 0;
			width: 0;
			left: 0;
			bottom: -5px;
			transition: 0.3s;
		}
		&:hover{
			color: $white;
		}
		&:hover:after {
			width: 100%;
			height: 2px;;
		}
	}
}