.pr-section {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-areas: 
	"si ar";
	padding: 70px 0;
	max-width: 1300px;
	margin: 0 auto;
	color: $grey;
	font-weight: 100;
	text-align: left;

	@media screen and (max-width: 950px) {
		display: block;
	}
	@media screen and (max-width: 650px) {
		padding: 10px 0 30px;
	}

	.sidebar-article {
		grid-area: si;
		padding-left: 40px;

		.card {
			padding: 40px;
			border: 4px solid rgb(57, 56, 56);

			h3 {
				@include title;
				font-weight: 600;
				margin-bottom: 20px;
				font-size: 1.5rem;
			}

			ul > li {
				padding: 5px 0;
			}
		}
		@media screen and (max-width: 950px) {
			padding-right: 40px;
		}
		@media screen and (max-width: 550px) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.article-container {
		grid-area: ar;
		padding-left: 40px;
		padding-right: 40px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
	    border-left: 1px solid rgba(229,229,229,.15);
			left: 15px;
		}
		@media screen and (max-width: 950px) {
			&::before {
				display: none;
			}
		}
		@media screen and (max-width: 550px) {
			padding: 0 20px 0 20px;
		}

		.img-title {
			max-width: 100%;
			height: auto;
			object-fit: contain;
		}
		
		h1 {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 20px;
			text-align: left;
			text-transform: uppercase;
			color: $white1;
		}
		
		.text-article {
			margin-bottom: 20px;
			font-size: 16px;
		}
		.btn-continue {
			border: 0.2em solid $color1;
			padding: 1em;
			color: $color1;
			cursor: pointer;
			margin-bottom: 40px;

			&:hover {
				border-color: $white1;
				color: $white1;
			}
		}
	}
}
.gap {
	height: 10px;
}