.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: left;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas: 
	"a b";
	color: $grey;
	@media screen and (max-width: 950px) {
		display: block;
		.contact-left {
			padding-top: 35px;
		}
	}
}
.contact-right {
	grid-area: b;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;

	p {
		margin-bottom: 20px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		border-left: 1px solid rgba(229,229,229,.15);
		left: 15px;
	}
	@media screen and (max-width: 950px) {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		&::before {
			display: none;
		}
	}
	@media screen and (max-width: 550px) {
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-organization {
		display: grid;
		grid-template-columns: 25% 75%;
		align-items: center;
		@media screen and (max-width: 650px) {
			display: block;
			.index {
				padding-left: 10px;
			}
		}
	}
	.index {
		font-size: 14px;
		color: $white;
		font-weight: 100;
	}
	.input-value,
	.form-textarea {
		border: none;
		padding-left: 10px;
		background-color: transparent;
		border-bottom: 2px solid silver;
		color: $grey;
		outline: none;
		transition: 0.2 ease-in-out;
		font-size: 1rem;
		width: 90%;
		margin-bottom: 10px;

		&:focus {
			border-color: $color1;
		}
	}
	.input-value {
		height: 42px;
	}
	.inline-placeholder {
		display: flex;
		height: 100%;
		width: 100%;
		padding-top: 15px;
	}
	.form-textarea {
		height: 122px;
		resize:vertical;
		padding-top: 15px;
	}
}
.submit-form {
	background-color: $color1;
	color: $blackd1;
	font-weight: 300;
	font-size: 1.1rem;
	border: 2px solid transparent;
	cursor: pointer;
	width: 120px;
	height: 45px;
	transition: 0.2s ease-in-out;

	&:hover {
		background-color: $white;
		color: $blackd1
	}
}
.box-container {
	padding: 15px 0 15px 15px;
}
.btn-container {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 10px;
}
.contact-left {
	grid-area: a;
	padding-left: 40px;
	position: relative;
	h3 {
		@include title;
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 650px){
		&::before {
			content: "";
			position: absolute;
			width: 88%;
			left: 50%;
			top: 20px;
			transform: translateX(-50%);
			border-top: 1px solid rgba(229,229,229,.15);
		}
	}
}
