header {
	background: url(../img/cemetery.avif) center/cover fixed;
	min-height: 100vh;
	width: 100%;

	@media screen and (max-width: 650px) {
		min-height: 0;
	}

	.bg-filter {
		background-color: rgba(34, 20, 4, 0.653);
		min-height: 100vh;
		width: 100%;

		@media screen and (max-width: 650px) {
			min-height: 0;
		}
		.header-txt {
			max-width: 1300px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 90%;
			margin: 0 auto;
			height: 50%;
			padding: 0 0 5.5% 0;

			h2 {
				color: $white;
				font-size: 1.3rem
			}
			h1 {
				@include title;
				color: $white;
				position: relative;
				overflow: hidden;

				&::before,
				&::after {
					content: "";
					background-color: $white;
					display: inline-block;
					height: 3px;
					position: relative;
					vertical-align: middle;
					width: 50%;
					max-width: 180px;
				}
				&::before {
					right: 0.5em;
					margin-left: -50%;
				}
				&::after {
					left: 0.5em;
					margin-right: -50%;
				}
				@media screen and (max-width: 400px) {
					&::before,
					&::after {
						display: none;
					}
				}
			}
			p {
				color: $grey;
				font-size: 1rem;
			}
		}
	}
}